<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="{%url 'login'%}">login</a></li>
        <li><a href="{%url 'home'%}">home</a></li>
        <li><a href="{%url 'register'%}">sign</a></li>
    </ul>



    <form class="" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{the_register_form}}
        <button>Submit</button>
    </form>

</body>
</html>