{% extends "base.html" %}

{% block title %}Home - My Website{% endblock %}

{% block content %}

<h1>YOU GOT PHISH</h1>
<p class="campaignparagraphinfos">
    A fake login page is essentially a knock-off of a real login page used to trick people into entering their login
    credentials, which hackers can later use to break into online accounts. These websites mirror legitimate pages by
    using company logos, fonts, formatting, and overall templates. Depending on the attention to detail put in by the
    hackers behind the imposter website, it can be nearly impossible to distinguish from the real thing.
    Consequentially, fake login pages can be highly effective in their end goal: credential theft.
</p>
{% endblock %}