{% extends "base.html" %}

{% block title %}Home - My Website{% endblock %}

{% block content %}


<h1>YOU GOT PHISH</h1>
<p class="campaignparagraphinfos">
    Malware attachment phishing is a type of cyberattack where attackers trick victims into opening or downloading files
    or links contained in emails, leading to malware infection. These phishing emails often mimic legitimate sources,
    like a company, to create a sense of urgency or trust, encouraging recipients to click on malicious attachments or
    links.
</p>
{% endblock %}